:host {
  display: block;
  overflow: hidden;
  width: 100%;
}

.slider-wrapper {
  display: flex;
  width: 300%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: flex-start;
}

.slider-wrapper.view-forgot {
  transform: translateX(0%);
}
.slider-wrapper.view-login {
  transform: translateX(-33.3333%);
}
.slider-wrapper.view-register {
  transform: translateX(-66.6666%);
}

.slider-panel {
  width: 33.3333%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
